/*
link source code:
1)  iframe popup box , 
2)  index.php(generally for all page code), 
3)  login.php,   forgot_id.php, forgot_pwd.php   change_pwd.php
*/
@charset "UTF-8";
table {
	border-collapse:collapse;
}
th {
	background-color:#CCCCCC;
	padding:4px;
	
}
td {
	padding:4px;
}
		
	
A:link, A:active, A:visited
{
	text-decoration:none; 
	font-size:	9pt
}

BODY, TD, TH, DIV
{ 
	font-size: 9pt; 
	font-family : "Arial", "", "u";
} 

input, select
{
	font-size: 9pt; 
	font-family : "Arial", "", "u";
	COLOR: #555555;
}
/* no */
input.retrive
{
   background:url('/wise2/img/search.png') no-repeat;
   width: 30px;
   height: 30px;
}

a.button {
  display: inline-block;
  position: fixed;
  top: 98px;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 0px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

a.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

a.button:hover span {
  padding-right: 10px;
}

a.button:hover span:after {
  opacity: 1;
  right: 0;
}

img		{ border: 0;}
form 	{ margin:0; padding:0;}
div          { margin:0; padding:0;}
//input    { font-size: 9pt; COLOR: #555555; height: 20px;background-color:#ffffff; border:1px solid #aaaaaa;	padding-left:3px;}
//select	{ font-size: 9pt; COLOR: #555555; height: 20px;background-color:#ffffff; border:1px solid #aaaaaa;}
textarea	{ font-size: 9pt; COLOR: #555555; background-color: #ffffff; border:1px solid #aaaaaa; padding-left:5px;margin:0,0,0,0;OVERFLOW: hidden;
		scrollbar-face-color: #ffffff; scrollbar-arrow-color: #acacac; scrollbar-track-color:#ffffff}
/* no */
.title 		{height:47px; background-image:url(/wise2/abeek/images/title_bg.gif); padding-left :45; padding-top:7; font-size:17px; font-weight:bold; color:#333333; letter-spacing:1px;}
.subtitle     {color:#0174c7; font-weight:bold;}
.block 		{PADDING-LEFT:10px; PADDING-TOP:10px; width:775;}
.itemlist	{background:#FFFFFF;}
.listitem	{background:#FFFFFF;}
.alternatingItemlist	{background-color: #F9FAFD }
.datatable	{padding : 5, 5, 5, 5;border:0; bgcolor:#CDCDCD}
.ControlTable {	border:0;	margin: 0, 0, 0,0; padding: 0, 0, 0, 0;color:#002e6a; }
.checkbox    { border:0px;}
.text	     { font-size: 9pt; COLOR: #555555; background-color: #ffffff; border:1px solid #aaaaaa; padding-left:5px;margin:0,0,0,0;OVERFLOW: hidden;}
/* no */
.TabLevel1Select   
{
	font-size: 9pt; 
	font-family : "Arial", "", "u";
	border-top : 1px solid #adc3e1;
	border-left : 1px solid #adc3e1;
	border-bottom : 0;
	border-right : 1px solid #adc3e1;
	height : 21;				
	background-color:#eaecfa;
}
/* no */
.TabLevel1DeSelect 
{	
	font-size: 9pt; 
	font-family : "Arial", "", "u";
	border-top : 1px solid #adc3e1;
	border-left : 1px solid #adc3e1;
	border-bottom : 0;
	border-right : 1px solid #adc3e1;
	height : 21;	
}

/* no */
.TabSelect   
{
	font-size: 9pt; 
	font-family : "Arial", "", "u";
	border-top : 1px solid #0174c7;
	border-left : 1px solid #0174c7;
	border-bottom : 1px solid #0174c7;
	border-right : 1px solid #0174c7;
	height : 23;				
	background-color:#0174c7;
	color:#ffffff; 
	font-weight:bold;	
}
/* no */
.TabDeSelect	   
{
	font-size: 9pt; 
	font-family : "Arial", "", "u";
	border-top : 1px solid #adc3e1;
	border-left : 1px solid #adc3e1;
	border-bottom : 0;
	border-right : 1px solid #adc3e1;
	height : 21;
	background-color:#eaecfa;
	color:#0174c7;
	font-weight:bold;
}
/* button effect */
.img_button {
    width: 24px;
    height: 24px;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
	font-weight:bold;
	//z-index:'-10';
}

.img_button:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
	z-index:'-10';
}
.txt_button {
    position: relative;
	height:100%;
    cursor: pointer;
	transition: 0.3s ease;
	font-weight:bold;
}

.txt_button:hover {
    transform: scale(1.1, 1.1);
	transition: 0.3s ease;
	font-weight:bold;

}

#img_button_x {
    width: 24px;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

#img_button_x:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
}